<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="/login" method="post">
        <input type="text" name="username" id="" placeholder="USERNAME" >
        <br>
        <span class="error">{{username_error}}</span>
        <br>
        <input type="password" name="password" id="" placeholder="PASSWORD" >
        <br>
        <span class="error">{{password_error}}</span>
        <br>
        <input type="submit" value="Submit">
    </form>
    <hr>
    
    {% if session %}
    <center>
        <form action="/">
            <input type="hidden" name="username" value="{{session.get('username')}}">
            <input type="submit" value="Log as '{{session.get('username')}}</label>">
        </form>
    </center>
    <form action="/clear" method="post">
        <input type="hidden" name="url" value="login">
        <button type="submit" >Clear Saved Logins</button>
    </form>
    {% endif %}
</body>
</html>